<div class="shellView">
	<nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	        <a class="navbar-brand" ui-sref="app">Rage Pillage Murder</a>
	    </div>
	    <ul class="nav navbar-nav">
	        <li><a ui-sref="app">Home</a></li>
	        <li><a ui-sref="rankings">Rankings</a>
	        <li><a ui-sref="other">Other Cool Stuff</a>
	        <li><a ui-sref="rankings">Why Lazee is the Best!</a>
	        <li><a ui-sref="about">About</a></li>
	    </ul>
	</nav>
	<div ui-view="content"></div>
</div>